# Ignore Mac system files
.DS_store

# Ignore all text files
*.txt

# Ignore jupyter notebooks
notebooks
notebooks/*

# Ignore files related to API keys
.env

# ignore .vscode files
.vscode
.vscode/settings.json
